.backCard {
    border-style: double;
    width: 600px;
    background-color: #44BBA4;
    height: 50vh;
}

.container {
    margin-top: 5%;
    background-color: #44BBA4;
    width: 50%;
    margin-left: 30%;
    box-shadow: grey;
}

.btnColor {
    background-color: black;
    margin-top: 4%;
    margin-bottom: 2%;
}

.text-center {
    padding: 15px;
    font-size: 22px;
    text-decoration: underline;
}